# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
#idea
\exercicios\.idea\misc.xml
\exercicios\.idea\modules.xml
\exercicios\.idea\vcs.xml
\exercicios\.idea\workspace.xml